.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    /* background-color: rgb(45, 46, 46); */
    background-color: rgb(18, 18, 191);
    color: #fff;
    height: 50px;
}
.omni{
   margin-right: 950px;
    color: orange;
    top: 2px;
}
.menu-icons{
    display: flex;
    align-items: center;
}
.menu-icons > div{
    margin: 0 10px;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    min-width: 160px;
    box-shadow: 0 4px 8px 0 rgba(40, 4, 63, 0.2);
    z-index: 1;
}
.dropdown:hover .dropdown-content{
    display: block;
}