<div class="navbar fixed-top">
    <div class="btt">
        <button style="border-radius: 10px;color: blue;">USI</button> | 
    </div>
    <div class="omni">
        <table>
            <tr>
                <th>OMNI</th>
            </tr>
            <tr>
                <td style="color: white;">Dashboard</td>
            </tr>
        </table>
    </div>
    <div class="logo"></div>
    <div class="menu-icons">
        <div class="search">
            <mat-icon>search</mat-icon>
        </div>
        <div class="notification">
            <mat-icon>notifications_none</mat-icon>
        </div>
        <div class="profile">
            <mat-icon>account_circle</mat-icon>
        </div>
        <div class="dropdown">
            <mat-icon>arrow_drop_down</mat-icon>
            <div class="dropdown-content">
                <a href="#">Dropdown UserProfile</a>
                <a href="#">Dropdown Logout</a>
            </div>
        </div>
    </div>
</div>
