<!-- <p>about-usi works!</p> -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button1" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        
        <div class="item active">
   <div class="card" style="height:400px;width:900px;margin-left: 130px;">
          <div class="row" >
            <div class="col" style="width: 200px;height:100px;">
         <br>
          <h4>What Makes USI Different?</h4>
          <br>
        <h5>Our Long Term Risk Management Strategy</h5>
        <br>
        <br>
        <p  style="font-size: 15px;">
          USI ONE, is a fundamentally different approach to<br><br>
          risk management,integrating proprietary business<br><br>
          analytics with a networked team of local and national<br><br>
          experts in a team based consulative planning<br><br>
          process to evaluate the clients risk profile and <br><br>
          identify targeted solutions to address those risks.<br><br>
         </p>
         <br>
        </div>
      </div>
        <div class="col">
          <img src="../../assets/images/a.jpg" style="height: 200px; margin-bottom: 100px;margin-left: 500px;">
        </div>
        </div>
        </div>
      </div>
    
      <div class="carousel-item">
        <div class="item active">
          <div class="card" style="height:400px;width:900px;margin-left: 130px;">
          <div class="row">
            <div class="col">
         
          <p>A real-time interactive solutions platform built by
            USI experts capturing the experience of more than
            150,000 clients, thousands of professionals and
            over 150 years of business activity through our
            acquired agencies.
          </p>
          <br>
        <p>
          <b>Proprietary analytics</b>
          <br>
          One-of-a-Kind tool built by USI subject-matter experts
          <br>
          <b>
            Timely Updates
          </b>
          <br>
          Regularly refreshed data and solutions based on market dynamics
          <br>
          <b>Measurable Financial Impact</b>
          <br>
          Multi-year startegic process  evaluating short and long term impact to the bottom line
          <br>
        
        <b>Actionable Solutions Engine</b>
        <br>
        Codifies the braod and deep knowledgeof USI specialists into thousands of actionable risk management
        solutions across industry verticals
      </p>
      <p style="text-align:centre; color:blueviolet">Actionable,Quantifiable Data Engine to Drive Decision Making</p>
        </div>
        <div class="col">
          <img src="../../assets/images/a.jpg" style="height: 390px;">
        </div>
        </div>
        </div>
  
        
      </div>
    </div>
      <div class="carousel-item">
       
      </div>
    </div>
    <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button> -->
    
  </div>