
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="position: relative;" > 
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button1" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        
        <div class="item active">
   <div class="card">
          <div class="row" >
            <div class="col" style="width: 200px;height:100px;margin-left: 10px;">
         <br>
         
          <h4><b>What Makes USI Different?</b></h4>
        <h5><b>Our Long Term Risk Management Strategy</b></h5>
        <br>
        <p  style="font-size: 16px;">
          <span style="color: #22619e;">USI ONE,</span> is a fundamentally different approach to<br>
          risk management,integrating proprietary business<br>
          analytics with a networked team of local and national<br>
          experts in a team based consulative planning<br>
          process to evaluate the clients risk profile and <br>
          identify targeted solutions to address those risks.
         </p>
         <br>
        </div>
      </div>
        <div class="col">
        
          <img src="../../assets/images/A.png" style="height: 280px; margin-left: 600px;width: 300px;margin-top: -90px;">
        </div>
        </div>
        </div>
      </div>
    
      <div class="carousel-item">
        <div class="item active">
          <div class="card" >
          <div class="row">
            <div class="col" style="width:300px;margin-left: 10px;font-size: 15px;">
              <h5 style="color: #22619e;">USI ONE</h5>
              <h5 ><b>Provides Robust Analytics and Solutions</b></h5>
          <p>A real-time interactive solutions platform built by<br>
            USI experts capturing the experience of more than<br>
            150,000 clients, thousands of professionals and<br>
            over 150 years of business activity through our<br>
            acquired agencies.
         <br>
          <b>Proprietary analytics</b><br>
          One-of-a-Kind tool built by USI subject-matter experts
          <br>
          <b> Timely Updates</b> <br>
          Regularly refreshed data and solutions based on market dynamics
          <br>
          <b>Measurable Financial Impact</b> <br>
          Multi-year startegic process  evaluating short and long term impact to the bottom line
          <br>
        <b>Actionable Solutions Engine</b> <br>
        Codifies the braod and deep knowledgeof USI specialists into thousands of actionable risk management
        solutions across industry verticals
      </p>
      <p style="text-align:centre; color:blueviolet">Actionable,Quantifiable Data Engine to Drive Decision Making</p>
        </div>
        <div class="col">
       
          <img src="../../assets/images/B.png" style="height: 300px;width:300px;margin-left: 200px;">
        </div>
        </div>
        </div>
      </div>
    </div>
      <div class="carousel-item">
      </div>
    </div>
  </div>