<div class="container" style="margin-left: 100px;">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 600px;">
                <p>Harvestive Agro Industry
                    800AGROINDUSTRY
                    <i class="fa fa-pencil" style="color: blue;"></i>&nbsp;
                    <i class="fa fa-share-alt" style="color: blue;"></i>
                </p>
                <p style="font-size: 8px;">Lorem ipsum dolor sit amet,conseletur elitr,sed diam nonumy eirmod tempor
                    invidunt lorem ipsum <br>
                    dolor sit amet,conseletur sadipscing altr,50d diam nonumy eimod tempor invidunt ut</p>
                <table>
                    <tr>
                        <th> <i class="fa fa-pencil" style="color: blue;"></i> Industry Vertical</th>
                        <th> <i class="fa fa-pencil" style="color: blue;"></i>Client Location</th>
                        <th> <i class="fa fa-pencil" style="color: blue;"></i>Annual Sales</th>
                        <th> <i class="fa fa-pencil" style="color: blue;"></i>Employees</th>
                    </tr>
                    <tr>
                        <td> &nbsp; &nbsp; Manufacturing</td>
                        <td> &nbsp; &nbsp; South West</td>
                        <td> &nbsp; &nbsp; $7,800.00</td>
                        <td> &nbsp; &nbsp; 4500</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width:240px;background-color: grey;display: flex;">
                <div class="min">
                    <canvas id="myChart"></canvas>
                    <div id="centerText" class="center-text" style="margin-left:250x;"><b>$ <br>3,254</b>
                </div>
            </div>
                <p class="chart-text">Premium Savings</p>
            </div>
            </div>
            <div class="col">
                <div class="card" style="width:240px;background-color: grey;">
                    <div class="min">
                        <canvas id="myChart"></canvas>
                        <div id="centerText" class="center-text" style="margin-left: 5px;"><b>$  11,612,500<br></b>
                        </div>
                    </div>
                    <p class="chart-text">Reduced Exposure</p>
                </div>
            </div>
    </div>
</div>
    <br>
    <div class="navbar" style=" width:89vw;margin-left: 100px; margin-right:auto;background-color: antiquewhite;">
        <div class="container">
            <ul>
                <li><a routerLink="/new">About Usi</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li><a href="#">Experts</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li><a href="#">Solutions Summary</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li><a href="#">Solutions</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li><a href="#">Next Step</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </ul>
        </div>
    </div>
