.small-card {
    width: 650px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden; /* Hide side scrollbar in the card */
    margin-bottom: 20px;
  }
  
  .company-list-container {
    max-height: 360px; /* Set a maximum height for the container */
    overflow-y: scroll; /* Enable vertical scrolling */
    scrollbar-width: none; /* Hide the side scrollbar in Firefox */
    -ms-overflow-style: none; /* Hide the side scrollbar in IE/Edge */
  }
  
  .company-list-container::-webkit-scrollbar {
    width: 0; /* Hide the side scrollbar in WebKit-based browsers (Chrome, Safari) */
    height: 0; /* Hide the side scrollbar in WebKit-based browsers (Chrome, Safari) */
  }
  
  .activities {
    font-size: 20px;
    color: #333;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .activities p {
    margin-top: -1px; /* Adjust the negative margin to move "My Activities" up */
  }
  
  .company-row {
    margin-bottom: 5px; /* Reduce the margin between rows */
  }
  
  .company-details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    font-size: small;
    color: #888;
    align-items: center;
  }
  
  .company-column {
    display: flex;
    flex-direction: column;
    margin-bottom: 0; /* Remove margin */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; /* Reduce the font size */
    padding: 0; /* Remove padding */
  }
  
  .company-data {
    margin: 0; /* Remove margin */
  }
  
  .company-label {
    font-weight: normal;
  }
  
  .company-name {
    color: rgba(17, 87, 163, 0.906);
    margin-bottom: 5px; /* Add margin to create space below the company name */
    font-weight: bold;
    margin-top: 5px;
  }
  
  .company-details-small {
    font-size: 17px;
    margin-top: 9px; /* Add margin to create space above "agro industry" */
    color: rgba(17, 87, 163, 0.906);
    margin-bottom: 5px; /* Add margin to create space below the company name */
  }
  
  .blue-amount {
    color: rgba(17, 87, 163, 0.906);
    font-weight: bold;
  }
  
  .action-items {
    list-style: none;
    padding: 0;
  }
  
  .horizontal-line {
    border-top: 1px solid #ccc;
    margin-top: 3px; /* Reduce the space above and below horizontal lines */
  }
  
  /* Adjust image size and spacing */
  .action-icon {
    width: 40px; /* Set the desired width for your images */
    height: 40px; /* Set the desired height for your images */
    margin-right: 2px; /* Add spacing between images */
  }
  
  /* Arrow icons */
  
  .arrow-icon {
    width: 20px; /* Set the desired width for your arrow images */
    height: 20px; /* Set the desired height for your arrow images */
    margin-left: 5px; /* Add spacing between the label and arrow */
  }
  
  
  
  
  /* Add styles to make horizontal lines fixed */
  .horizontal-line {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    
    
  }
  
  
  
  
  
  
  
  
  
  
  