<!-- <p>sidebar works!</p> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<mat-sidenav-container style="position: fixed;">
    <ul>
        <li>
            <a href="#" routerLink="/sales"> <i class="fa fa-th-large"></i> </a>
        </li>
        <li> <a href="#"> <i class="fa fa-bolt"> </i> </a></li>
        <li> <a href="#" routerLink="/harvestive"> <i class="fa fa-book"></i> </a> </li>
        <li> <a href="#"> <i class="fa fa-calendar"></i> </a> </li>
        <li> <a href="#"> <i class="fa fa-list-ul" aria-hidden="true"></i> </a>
        </li>
        <li> <a href="#"> <i class="fa fa-address-book"></i> </a> </li>
        <li> <a href="#"> <i class="fa fa-cog"></i> </a> </li>
        <br>
        <br>
        <br>
        <li>
        </li>
    </ul>
</mat-sidenav-container>