* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
ul {
    background: #dfe9f5;
}
mat-sidenav-container {
    position: absolute;
    top: 80px;
    bottom: 0;
    height: 100%;
    left: 0;
    background: #fff;
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0.20px 35px rgb(0, 0, 0, 0.2);
}
.logo {
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
}
.nav-item {
    position: relative;
    top: 12px;
    margin-left: 10px;
}
.fa {
    position: relative;
    width: 70px;
    height: 20px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}
.logo span {
    font-weight: bold;
    padding-left: 10px;
    font-size: 18px;
    text-transform: uppercase;
}
a {
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 21px;
}
a:hover {
    /* background: #eee; */
    background: rgb(239, 230, 212);
 
}
/* mat-sidenav-container:hover {
    width: 280px;
    transition: all 0.5s ease;
} */
