  <div class="news-container">
    <div class="news-list">
        <div class="nav-links">
            <a href="#" class="view-more-link">News</a>
            <a href="#" class="view-more-link">View More...</a>
        </div>
        <div class="news-item">
            <div class="news-content">
                <img src="assets/images/news.jfif" class="news-image" alt="News Image">
                <div class="news-details">
                    <a href="#" class="link">
                        USI gives back program receives  
                      
                        <span class="news-date">    July 22, 2022</span>
                    </a>
                   <br/>
                    <a href="#" class="link">Industry recognition at 2022 IMCA</a>
                </div>
            </div>
            <p>The Insurance Marketing & Communications Association (IMCA) recently held its 64th annual National Conference and Showcase Awards in Orlando FL, amd USI was proud to br represented once again.</p>
        </div>


                
        <div class="news-item">
            <div class="news-content">
                <img src="assets/images/news.jfif" class="news-image" alt="News Image">
                <div class="news-details">
                    <a href="#" class="link">
                        WoodmenLife taps new 
                      
                        <span class="news-date">    July 22, 2022</span>
                    </a>
                   <br/>
                    <a href="#" class="link">chief rist officer</a>
                </div>
            </div>
            <p>The Insurance Marketing & Communications Association (IMCA) recently held its 64th annual National Conference and Showcase Awards in Orlando FL, amd USI was proud to br represented once again.</p>
        </div>


                
        <div class="news-item">
            <div class="news-content">
                <img src="assets/images/news.jfif" class="news-image" alt="News Image">
                <div class="news-details">
                    <a href="#" class="link">
                        Market expands renewable
                      
                        <span class="news-date">    July 22, 2022</span>
                    </a>
                   <br/>
                    <a href="#" class="link">energy team</a>
                </div>
            </div>
            <p>The Insurance Marketing & Communications Association (IMCA) recently held its 64th annual National Conference and Showcase Awards in Orlando FL, amd USI was proud to br represented once again.The Insurance Marketing & Communications Association (IMCA) recently held its 64th annual National Conference and Showcase Awards in Orlando FL, amd USI was proud to br represented once again.</p>
        </div>
        
</div>
</div>