<div class="container" >
    <h4><b> USI ONE Network Provides Deep Expertise</b></h4>
    <h6 style="font-size: 15px;"><b> Dedicated technical experts networked nationally and embedded in local offices,with over 8,000<br>
            professionals nationwide to build integrated client centered account teams.</b></h6>
    <p>
        <span style="color: #22619e;">.3,600+</span> national property and casualty professionals across our commercial
        operations<br>
    </p>
    <p>
        <span style="color:#22619e;">.Over 100 P&C professionals</span> within USI Corporate<br>
    </p>
    <p>. Embedded
        <span style="color: #22619e;">local/regional experts</span> to ensure account team availability.<br>
    </p>
    <p>
        <span style="color: #22619e;">.Hands-on service</span> and ongoing diligent follow-through.<br>
    </p>
    <div class="container" style="width:88vw;margin-left: auto; margin-right:auto;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);border-radius: 10px;background-color: rgb(201, 195, 195);">
     <br>
    <div class="scroll-container ">
     <div style="display: flex; ">
         <div>
             <button class="button" style="background-color: #22619e;;height: 50px;width:120px;"><b>Consultants</b></button><br>
             <img src="../../assets/images/sc1.jpg" height="50px" width="40px" style="border-radius: 50%;text-align: center;margin-left: 30px;"><br>
             <button class="button" style="height:50px;width:120px;"><b>Komal Jagtap</b></button>
        </div>&nbsp;&nbsp;
        <div>
            <button class="button" style="background-color: #22619e;height: 50px;width:120px;"><b>Account <br>Manager</b></button><br>
            <img src="../../assets/images/sc1.jpg" height="50px" width="40px"style="border-radius: 50%;text-align: center;margin-left: 30px;"><br>
            <button class="button" style="height:50px;width:120px;"><b>Dency Curtis</b></button><br>
            <img src="../../assets/images/sc1.jpg" height="50px" width="40px"style="border-radius: 50%;text-align: center;margin-left: 30px;"><br>
            <button class="button" style="height:50px;width:120px;"><b>Local Staff</b></button>
        </div>&nbsp;&nbsp;
        <div>
             <button class="button" style="background-color: #22619e;height: 50px;width:130px;"><b>Casually <br> AnalyticsExpert</b></button><br>
            <img src="../../assets/images/sc1.jpg" height="50px" width="40px" style="border-radius: 50%;text-align: center;margin-left: 30px;"><br>
            <button class="button" style="height:50px;width:120px;"><b>Julie Sanchez</b></button><br>
            <img src="../../assets/images/sc1.jpg" height="50px" width="40px" style="border-radius: 50%;text-align: center;margin-left: 30px;"><br>
            <button class="button" style="height:50px;width:120px;"><b>Chris Marchant</b></button>
        </div>&nbsp;&nbsp;
        <div>
             <button class="button" style="background-color: #22619e;height: 50px;width:130px;"><b>Property <br> AnalyticsExpert</b></button><br>
            <img src="../../assets/images/sc1.jpg" height="50px" width="40px" style="border-radius: 50%;text-align: center;margin-left: 30px;"><br>
            <button class="button" style="height:50px;width:120px;"><b>Joseph Ammo</b></button><br>
            <img src="../../assets/images/sc1.jpg" height="50px" width="40px"style="border-radius: 50%;text-align: center;margin-left: 30px;"><br>
            <button class="button" style="height:50px;width:120px;"><b>Abigail Kilgore</b></button>
        </div>&nbsp;&nbsp;
        <div>
            <button class="button" style="background-color: #22619e;height: 50px;width:150px;"><b>Executive<br> Liability MPS/D&O</b></button><br>
            <img src="../../assets/images/sc1.jpg" height="50px" width="40px"style="border-radius: 50%;text-align: center;margin-left: 30px;"><br>
            <button class="button" style="height:50px;width:120px;"><b>Monica Minkel</b></button><br>
            <img src="../../assets/images/sc1.jpg" height="50px" width="40px" style="border-radius: 50%;text-align: center;margin-left: 30px;"><br>
            <button class="button" style="height:50px;width:120px;"><b>Kbill Christian</b></button>
        </div>&nbsp;&nbsp;
        <div>
             <button class="button" style="background-color:#22619e;height: 50px;width:150px;"><b>Environmental</b></button><br>
            <img src="../../assets/images/sc1.jpg" height="50px" width="40px" style="border-radius: 50%;text-align: center;margin-left: 30px;"><br>
            <button class="button" style="height:50px;width:120px;"><b>Glynis Prester</b></button><br>
            <img src="../../assets/images/sc1.jpg" height="50px" width="40px" style="border-radius: 50%;text-align: center;margin-left: 30px;"><br>
            <button class="button" style="height:50px;width:120px;"><b>Scof Suchan</b></button>
        </div>&nbsp;&nbsp;
        <div>
            <button class="button" style="background-color:#22619e;height: 50px;width:150px;"><b>Claims <br> Advocates</b></button><br>
            <img src="../../assets/images/sc1.jpg" height="50px" width="40px"style="border-radius: 50%;text-align: center;margin-left: 30px;"><br>
            <button class="button" style="height:50px;width:120px;"><b>Gary Weter</b></button><br>
            <img src="../../assets/images/sc1.jpg" height="50px" width="40px"style="border-radius: 50%;text-align: center;margin-left: 30px;"><br>
            <button class="button" style="height:50px;width:120px;"><b>Judy Brent</b></button>
        </div>&nbsp;&nbsp;
        <div>
             <button class="button" style="background-color:#22619e;height: 50px;width:150px;"><b>Risk Control<br> Specialist</b></button><br>
             <img src="../../assets/images/sc1.jpg" height="50px" width="40px"style="border-radius: 50%;text-align: center;margin-left: 30px;"><br>
             <button class="button" style="height:50px;width:120px;"><b>Ken Anderson</b></button><br>
            <img src="../../assets/images/sc1.jpg" height="50px" width="40px"style="border-radius: 50%;text-align: center;margin-left: 30px;"><br>
            <button class="button" style="height:50px;width:120px;"><b>Margo Long</b></button>
        </div>&nbsp;&nbsp;
        <div>
            <button class="button"style="background-color: #22619e;height: 50px;width:150px;"><b>Carrier/Marketing<br> Specialist</b></button><br>
            <img src="../../assets/images/sc1.jpg" height="50px" width="40px"style="border-radius: 50%;text-align: center;margin-left: 30px;"><br>
            <button class="button" style="height:50px;width:120px;"><b>Dense Blackett</b></button><br>
            <img src="../../assets/images/sc1.jpg" height="50px" width="40px" style="border-radius: 50%;text-align: center;margin-left: 30px;"><br>
            <button class="button" style="height:50px;width:120px;"><b>Mary Coleman</b></button>
        </div>&nbsp;&nbsp;
         <div>
            <button class="button"style="background-color: #22619e;height: 50px;width:120px;"><b>International</b></button><br>
            <img src="../../assets/images/sc1.jpg" height="50px" width="40px"style="border-radius: 50%;text-align: center;"><br>
            <button class="button" style="height:50px;width:120px;"><b>Julie Sanchez</b></button>
        </div>&nbsp;&nbsp;
    </div>
 </div>
</div>
</div>